# === PYTHON / DJANGO ===
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.log
*.pot
*.pyc
db.sqlite3
env/
venv/
ENV/
env.bak/
*.sqlite3
instance/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.tox/
celerybeat-schedule
local_settings.py
.DS_Store

# === NODE / NPM / Nuxt 3 / PrimeVue ===
node_modules/
.npm/
.nuxtrc
.nuxt/
.output/
dist/
build/
*.log
*.tsbuildinfo
.cache/
.pnpm-store/
.vite/
coverage/
.env.local
.env.*.local
.env
*.env
.idea/
.vscode/
*.local
*.bak
*.tmp
yarn.lock
pnpm-lock.yaml
package-lock.json

# === GENERAL ===
*.swp
*.swo
*.bak
*.tmp
*.orig
*.log
.DS_Store
Thumbs.db
*.iml
*.sublime-project
*.sublime-workspace

# === FRONTEND BUILD ARTIFACTS ===
*.map
public/build/
staticfiles/
static_root/
media/

# === DOCUMENTATION ===

/doc/BUSINESS_PLAN/
/doc/Videos/
/doc/UI/
/doc/UML/

# === OTHERS ===

backup.sql

