{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class="w-full">
    <div class="flex flex-row justify-content-between align-content-center">
        <h2>Dashboard</h2>
        <div class="flex">
            <div class="select-button">
                <ul class="mr-1">
                    <li><a href="/dashboard/{{ url_id }}/technical/" onclick="showLoadingOverlay()">Technical</a></li>
                    <li><a href="/dashboard/{{ url_id }}/business/" onclick="showLoadingOverlay()">Business</a></li>
                </ul>
                {% if campaign_info.is_finished %}
                <ul class="mr-1">
                    <li><a href="{% url 'dashboard_remediations' campaign_url_id=campaign.url_id %}" onclick="showLoadingOverlay()">Remediations</a></li>
                </ul>
                {% endif %}
                <ul>
                    <li class="active"><a href="/dashboard/{{ url_id }}/options/" onclick="showLoadingOverlay()">Options</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="grid">
        <!-- Remediation global -->
        <div class="col-12">
            <div class="card h-full">
                <span class="block text-800 font-medium text-left mb-3">
                    Options
                </span>
                <form action="" method="POST" class="w-full gap-2">
                    {% csrf_token %}
                    <input type="checkbox">Password protection</input><br />
                    <input type="checkbox">Send automatic remediation during test</input><br />
                    <input type="checkbox">Send automatic remediation when test is finished</input><br />
                </form>
            </div>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
