.title {
    color: var(--contrast-color);
    /* text-transform: uppercase; */
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
.sub-sub-title {
    padding: 10px 10px 0;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.tag {
    padding: 5px;
    font-size: 0.8rem;
    border-radius: 20px;
    border: 1px solid black;
}
.tag-blue {
    border-color: blue;
    color: blue;
    background-color: rgba(0, 0, 255, 0.155);
}
.tag-orange {
    border-color: rgb(255, 119, 0);
    color: rgb(255, 119, 0);;
    background-color: rgba(255, 119, 0, 0.155);
}
.tag-red {
    border-color: red;
    color: red;
    background-color: rgba(255, 0, 0, 0.155);
}
