/*
 * Variables
 */
:root {
  --secondary-color: #020617;
  --constrast-color: #424242;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ffffff;
  --hovered-color: #f1f5f9;
  --datatable-title-color: #384659;
  --transition-medium: all .2s ease-out;
  --transition-slow: all .38s;
  --sidebar-width: 280px;
  --padding-main-content: 1.5rem;
  --primary-box-shadow: 0px 4px 30px rgba(221, 224, 255, .54);
  --border-radius-card: 8px;
  --border-radius-sidebar: 30px;

  --sm: 876px;
  --md: 1068px;
  --lg: 1292px;
  --xl: 1500px;
}

/*
 * Global
 */
body
{
  font-family: "Outfit", "Nunito Sans", Arial, sans-serif;
  margin: 0;
  background-color: var(--primary-bg-color);
  font-size: 1rem;
}

.app-logo {
  margin: 20px 15px 5px;
  max-width: 220px;
  background: linear-gradient(0.25turn, #9570fd, #8f66ff);
}

@media screen and (min-width: 1068px) and (max-width: 1500px) {
  #compromisesByCategories {
    height: 22rem !important;
  }
}

.separator {
  height: 2px;
  background-color: var(--surface-200);
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
